
.jumbotron {
	background-image: url("../images/background.png");
	border-bottom: 4px solid teal;
	margin: 0 0;
}

#namehdr {
	color: white;
	background: teal;
	text-align: center;
}


li h4{
	color: #777777;
	margin-top: 25px;
	padding-bottom: 5px;
}


#elencanto {
	color: maroon;
	text-decoration: none;
}

#left {
	background: white;
	font-size: 18px;
	padding-bottom: 20px;
}


#portpic {
	padding-right: 10px;
}

#right {
	background: white;
}


.footer {
	background: #777777;
	color: white;
	padding-top: 8px;
	padding-bottom: 8px;
}

.placeholderpics img {
	width: 200px;
	height: 175px;
}

.placeholderlinks {
	width: 200px;
	background: teal;
	text-align: center;
	top: -50px;
}

.placeholderlinks a {
	color: white;
	font-size: 20px;
}